NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN=
HASHNODE_GQL_ENDPOINT=
HASHNODE_PUBLICATION_HOST=
HASHNODE_ACCESS_TOKEN=
GOOGLE_GEMINI_API_KEY=
GEMINI_MODEL=
HASHNODE_WEBHOOK_SECRET=
INDEXNOW_KEY=
GOOGLE_CLIENT_EMAIL="indexer@your-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY=