@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

@layer components {
  .nav-link {
    @apply cursor-pointer relative flex items-center gap-3 font-semibold text-base rounded-lg px-3 py-3 transition-all ease-in-out duration-500;
  }
  .nav-link:hover {
    @apply bg-primary/10 text-secondary;
  }

  .nav-link:active,
  .nav-link:focus {
    @apply bg-primary/20 text-secondary;
  }

  .nav-link-active {
    @apply bg-primary/20 text-secondary;
  }

  .view-port-container {
    @apply relative flex flex-col items-center justify-between w-full bg-base-100 h-full max-h-full rounded-3xl overflow-scroll;
  }

  .header-section {
    @apply flex items-center justify-between border border-primary/0 border-b-primary/15 lg:border-b-primary/0 rounded-t-3xl w-full p-6 text-center text-secondary;
  }

  .footer-section {
    @apply flex items-center justify-between border border-primary/0 border-t-primary/15 rounded-b-3xl w-full p-6 text-center text-secondary;
  }
}

/* Select the scrollbar thumb */
::-webkit-scrollbar {
  /* Change the size of the thumb */
  height: 0px;
  width: 0px;
}
