@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f6f6f6;
  --color-base-200: #ffffff;
  --color-base-300: #e8e8e8;
  --color-base-content: #0e1011;

  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #3de554;
  --color-accent-content: #022c22;
  /* --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416); */
  --color-neutral: #0e1011;
  --color-neutral-content: #ffffff;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.1875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #181b1c;
  --color-base-200: #0e1011;
  --color-base-300: #222728;
  --color-base-content: #ffffff;

  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #3de554;
  --color-accent-content: #022c22;
  /* --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416); */
  --color-neutral: #ffffff;
  --color-neutral-content: #0e1011;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.1875rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

* {
  font-family: "Figtree", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparent;
  /* border: 2px solid red; */
}

/* BENTO GRID BACKGROUND ANIMATION STYLING */
.bento-grid-container h1 {
  color: rgba(225, 225, 225, 0.1);
  background-image: url("./assets/backgrounds/abstract-bg.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-sizxe: cover;
  -webkit-background-clip: text;
  animation: animate_bg_img 15s linear infinite;
  text-align: center;
  text-transform: uppercase;
}

@keyframes animate_bg_img {
  0% {
    background-position: left 0;
  }
  100% {
    background-position: left 100%;
  }
}
/* BENTO GRID BACKGROUND ANIMATION STYLING */
